/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/**COLORS**/
:root {
    --txt-color: hsl(28, 22%, 87%);
    --link-color: hsl(46, 80%, 52%);
  }
  
  /*
  font-family: 'Dosis', sans-serif;
  font-family: 'Lato', sans-serif;
  */
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
  @media screen and (max-width: 1400px) {
    html {
      font-size: 48.5%;
    }
  }
  @media screen and (max-width: 870) {
    html {
      font-size: 36.5%;
    }
  }
  
  body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: sans-serif;
    color: #202020;
    max-width: 140rem;
    margin: 0 auto;
    height: 100vh;
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    line-height: 1.8;
  }
  
  .icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  
  .header {
    background: #5d664b;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem;
  }
  .logo {
    margin-left: 3rem;
    font-size: 3.6rem;
    color: #f0e68c;
    text-shadow: 0.1em 0.1em 0 #7a851d, 0.15em 0.15em 0 rgb(54, 117, 70),
      0.23em 0.23em 0 #005a293d;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    letter-spacing: 5px;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
  }
  .logo::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f56b";
    margin-right: 0.5em;
  }
  .logo:hover {
    color: #f0e68c;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    text-shadow: 0.4em 0.4em 0 #7a851d, 0.45em 0.45em 0 rgb(54, 117, 70),
      0.58em 0.58 em 0 #005a293d;
  }
  .menu {
    padding: 10px;
    color: #fff;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: inherit;
  }
  
  .menu ul li {
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
  }
  .menu a {
    font-family: "Dosis", sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  .menu a:hover,
  .menu a:active {
    color: #e6ba24;
  }
  .menu a:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #e6ba24;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
  }
  .menu a:hover::after,
  .menu a:active::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
  }
  
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5rem;
    padding-bottom: 12rem;
  }
  @media screen and (max-width: 841px) {
    .hero {
      margin: 1rem;
      padding-bottom: 20rem;
    }
    .hero__img {
      height: 38rem;
    }
    .hero__img img {
      height: 37rem;
    }
  }
  
  .hero__desc {
    width: 50rem;
    height: 45rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 2rem;
  }
  .hero__desc > * {
    width: 100%;
  }
  .hero__title {
    font-size: 4.8rem;
    margin-bottom: 3rem;
    color: #ffeacf;
    line-height: 1.3;
    letter-spacing: 3px;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }
  .hero__title::after {
    content: "";
    position: absolute;
    left: -5px;
    bottom: 0;
    height: 10%;
    width: 86%;
    background: rgba(255, 235, 209, 0.507);
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
  }
  .hero__title:hover::after {
    -webkit-transform: scaleY(1) skewY(-1deg) skewX(2deg);
        -ms-transform: scaleY(1) skewY(-1deg) skewX(2deg);
            transform: scaleY(1) skewY(-1deg) skewX(2deg);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
  }
  .hero__text {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    color: #e5ddd6;
    line-height: 1.8;
  }
  .button {
    padding: 0.5em 1em;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #eee1d7;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }
  .button::after {
    content: "";
    background: rgb(255, 234, 207, 0.8);
    /*ffeacf*/
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  .button:hover::after {
    -webkit-transform: scale(1, 2);
        -ms-transform: scale(1, 2);
            transform: scale(1, 2);
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
  }
  
  .hero__button a {
    text-decoration: none;
    font-family: inherit;
    text-transform: uppercase;
    color: #472d0e;
    z-index: 30;
    position: relative;
  }
  
  .hero__img {
    overflow: hidden;
    border-left: 4px solid rgba(255, 234, 207, 0.856);
    height: 45.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero__img img {
    height: 45rem;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    overflow: hidden;
    background-position: right;
    -webkit-transform: translate(-12px);
        -ms-transform: translate(-12px);
            transform: translate(-12px);
    display: block;
  }
  
  .hero__img img:hover {
    -webkit-transform: translate(-100px);
        -ms-transform: translate(-100px);
            transform: translate(-100px);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    background-position: center;
  }
  
  .features {
    background: rgb(235, 235, 224);
    margin-top: -13.5rem;
    -webkit-clip-path: polygon(0 10%, 100% 0px, 100% 95%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0px, 100% 95%, 0% 100%);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .features__title {
    display: block;
    text-align: center;
    padding-top: 16rem;
    margin-bottom: 6rem;
    font-size: 3.6rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #57453c;
  }
  .feature__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 6rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 9rem;
  }
  .feature__items > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .feature__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5rem;
  }
  .feature__item:not(:last-child) {
    border-right: 1px solid #fff;
  }
  .item__image,
  .item__desc {
    margin: 1rem;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;
    color: #363d26;
  }
  
  .item__desc {
    font-weight: 400;
  }
  
  .item__image {
    font-weight: 600;
    color: #57453c;
    position: relative;
  }
  .item__image figure {
    border: 1px solid rgb(255, 243, 229);
    padding: 2rem;
    -webkit-box-shadow: 1px 0 2px 0 rgb(241, 221, 194);
            box-shadow: 1px 0 2px 0 rgb(241, 221, 194);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .svg-inline--fa {
    height: 8rem;
    padding: 2rem;
  }
  
  .item__image:hover {
    -webkit-animation: myanimation 2s alternate ease-in-out;
            animation: myanimation 2s alternate ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    border: 0;
  }
  @-webkit-keyframes myanimation {
    0% {
      /* opacity: 0.6; */
      -webkit-box-shadow: -2px -1px 2px 0 #ffecd4;
              box-shadow: -2px -1px 2px 0 #ffecd4;
    }
    20% {
      /* opacity: 0.8; */
      -webkit-box-shadow: -3px -2px 4px 2px #f3d2a6;
              box-shadow: -3px -2px 4px 2px #f3d2a6;
    }
    80% {
      /* opacity: 0.9; */
      -webkit-box-shadow: -4px -3px 6px 3px #ce9f61;
              box-shadow: -4px -3px 6px 3px #ce9f61;
    }
    100% {
      /* opacity: 0.7; */
      -webkit-box-shadow: -5px -4px 8px 2px rgb(255, 215, 162);
              box-shadow: -5px -4px 8px 2px rgb(255, 215, 162);
    }
  }
  @keyframes myanimation {
    0% {
      /* opacity: 0.6; */
      -webkit-box-shadow: -2px -1px 2px 0 #ffecd4;
              box-shadow: -2px -1px 2px 0 #ffecd4;
    }
    20% {
      /* opacity: 0.8; */
      -webkit-box-shadow: -3px -2px 4px 2px #f3d2a6;
              box-shadow: -3px -2px 4px 2px #f3d2a6;
    }
    80% {
      /* opacity: 0.9; */
      -webkit-box-shadow: -4px -3px 6px 3px #ce9f61;
              box-shadow: -4px -3px 6px 3px #ce9f61;
    }
    100% {
      /* opacity: 0.7; */
      -webkit-box-shadow: -5px -4px 8px 2px rgb(255, 215, 162);
              box-shadow: -5px -4px 8px 2px rgb(255, 215, 162);
    }
  }
  .item__image figcaption {
    font-size: 2.6rem;
  }
  .testimonials {
    background: rgb(102, 82, 56);
    margin-top: -12rem;
    padding: 20rem 10rem 10rem 10rem;
  }
  .testimonial {
    border: 1px solid #cecece;
    padding: 10rem;
    background: #fff;
    margin: 0 auto;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgb(102, 82, 56);
            box-shadow: inset 0px 0px 10px 0px rgb(102, 82, 56);
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .testimonial:hover {
    background: rgb(255, 243, 229);
  }
  
  .testimonial__block {
    font-size: 2.6rem;
    font-style: italic;
    text-align: center;
  }
  .testimonial__author {
    font-weight: 800;
    float: right;
  }
  
  .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url("images/hero-big.jpg"); /* fallback for old browsers */
    background-size: 200%;
    -webkit-animation: animatedgradient 10s infinite alternate;
            animation: animatedgradient 10s infinite alternate;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .cta__box {
    padding: 15rem 10rem;
  }
  
  .cta__title {
    font-size: 3.8rem;
    font-weight: 800;
    margin-bottom: 3rem;
    color: #57453c;
    text-shadow: 0px 1px rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 4px;
    background: rgba(245, 245, 245, 0.534);
    display: inline-block;
    padding: 1.5rem;
    border-radius: 5px;
    border-left: 2px solid rgba(73, 73, 73, 0.466);
  }
  .cta__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta__p {
    color: hsl(48, 100%, 98%);
    background: rgba(169, 169, 169, 0.767);
    padding: 2rem;
    border-left: 2px solid rgba(73, 73, 73, 0.466);
  }
  .cta__button {
    margin-left: auto;
  }
  
  .footer {
    background: #4e553b;
  }
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem;
  }
  .copyright__text {
    color: #fff;
    font-size: 1.3rem;
  }
  /*
  cta
  cta__box
  cta__text
  cta__title
  cta__p
  
  
  */
  
  @-webkit-keyframes animatedgradient {
    0% {
      background-position: left 40%;
    }
  
    100% {
      background-position: right 3%;
    }
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: left 40%;
    }
  
    100% {
      background-position: right 3%;
    }
  }
  
  @media screen and (max-width: 768px) {
    body {
      margin: 0 auto;
    }
    .hero {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .features {
      -webkit-clip-path: polygon(0 0, 100% 0px, 100% 95%, 0% 100%);
              clip-path: polygon(0 0, 100% 0px, 100% 95%, 0% 100%);
      display: block;
      z-index: -1;
    }
    .feature__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-bottom: 9rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .feature__items > * {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
    }
    .feature__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-height: 250px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 5rem;
      width: 60%;
    }
    .feature__item:not(:last-child) {
      border-bottom: 1px solid #fff;
      border-right: 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    body {
      margin: 0 auto;
      padding: 0;
    }
    .hero {
      margin: 0;
      padding: 0;
    }
    .header,
    .header__nav {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .header__nav .features {
      -webkit-clip-path: polygon(0 0, 100% 0px, 100% 95%, 0% 100%);
              clip-path: polygon(0 0, 100% 0px, 100% 95%, 0% 100%);
      display: block;
      z-index: -1;
    }
    .feature__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-bottom: 9rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .feature__items > * {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
    }
    .feature__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-height: 250px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 5rem;
      width: 60%;
    }
    .feature__item:not(:last-child) {
      border-bottom: 1px solid #fff;
      border-right: 0;
    }
  }